# Entorno virtual
.venv/
venv/
env/

# Contraseñas y Configuración Sensible
.env
.env.local

# Archivos compilados y Caché
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Base de Datos local
db.sqlite3

# Editores (PyCharm / VS Code)
.idea/
*.iml
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# --- Archivos Multimedia (Imágenes subidas) ---
# Ignora la carpeta donde se guardan las fotos de productos
media/

# Opcional: Ignora formatos de imagen específicos si no usas la carpeta media
*.jpg
*.jpeg
*.png
*.webp